<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <!-- 3 ERROR 5 WARNING 7 INFO -->
    <listeners>
        <listener class-name="AtomationTestsUtil.TestReport.TestReport"/>
    </listeners>
    <test verbose="1" name="Test">
        <parameter name="number" value="1" />
        <classes>
            <class name="AtomationTestsUtil.UITestSuite.VerifyBasePaymentFunctionality">
                <methods>
                    <include name="verifyWeeklyPaymentsResult"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->